* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
   
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 1px solid #05c9d9;
    

}




.section-body {
    padding: 0 100px;
}

.inputSection {
    display: flex;
    width: 100%;
}

#website {
    margin-right: 2rem;
    height: 70%;
    border-radius: 1rem;
    border: 2px solid rgb(206, 206, 206);
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 75%;
    transition: .3s all ease;
}

#add {
    letter-spacing: 2px;
    width: 20%;
    height: 70%;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem;
    background: rgb(238, 238, 238);
    color: rgb(143, 143, 143);
    transition: .3s all ease;
    color: white;
}


#addButton:disabled {
    background: rgb(238, 238, 238);
    cursor: not-allowed;
    color: grey;
}
#addButton.active {
    background-color: #05c9d9;
}

.empty-blocked-container {
    border-radius: 1rem;
    background: rgb(229, 229, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#blocked-sites li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 20px 0;
    font-size: 1.5rem;
    padding: 10px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}